<div class="container">
    <!-- <div class="notification is-primary"> -->
        <!-- <div id = "playerContainer"> -->
        <div>
        <video width="1280" height="720">
            <!-- <source src="https://www.youtube.com/watch?v=0lanb-qwZFE&t=15s" type="video/mp4"> -->
                <!-- <source src = "playerContainer"> -->
        </video>
    </div>
</div>

<div class="container has-text-centered">
    <h1 class="title has-text-centered">Moderator View</h1>
    <button (click) = "onStartCallHandler($event)" class="button is-success">Start Call</button>
    <button (click) = "onLeaveCallHandler($event)" class="button is-danger">Leave Call</button>
</div>
